

/*****************************
GENERAL
*****************************/

a {
	text-decoration: none;
}


/****************************** 
HEADER PICTURE 
******************************/

img.align-left {
	float: left;
	height: 100px;
	margin-right: 10px;
	width: 100px;
}


/***************************** 
HEADER AND FOOTER TEXT 
*****************************/

header {
	text-align: right;
	font-family: 'Pacifico', sans-serif;

}

#logo {
	
	font-size: 3em;
	float: left;
	font-weight: normal;
	line-height: 0.8em;

}

footer {
	text-align: center;
	font-size: 0.75em;
}


/************************************
OFFERINGS/RATES/SPECIALS BUTTONS
************************************/

.buttons-background {
	background: #bf9076;
	box-shadow: 0 0 20px #777777;
	margin-top: 8%;	

}

.button {
	color:  #80716a;
	text-align: right;

}


li {
	display: inline;
	margin: 20px;
	font-size: 1.25em;
}





/***************************** 
COLORS 
*****************************/


header {
	background-color: #d6cfa5;
	color: #80716a;
	box-shadow: 0 0 20px #777777;
	/*margin: 0 0 100px 0;*/
}

nav a.buttons-background, nav a:hover{
	color: white;
}


footer {
	background-color: #d6cfa5;
	box-shadow: 0 0 20px #777777;
	color: #a5a283;
	
}


