

/*****************************
GENERAL
*****************************/

a {
	text-decoration: none;
}


/******************************
HEADER PICTURE
******************************/

img.align-left {
	float: left;
	height: 20%;
	margin-right: 10%;
	width: 100px;
}


/*****************************
HEADER AND FOOTER TEXT
*****************************/

header {
	font-family: 'Pacifico', sans-serif;
	font-weight: normal;
	left: 0px;
	margin: 0px;
	position: fixed;
	text-align: right;
	top: 0px;
	width: 100%;
}



#logo {
	/*border: 1px solid black;*/
	/*padding: 10%;*/
	font-size: 200%;
	text-align: left;
	line-height: 5%;
	margin: 5%;
}

footer {

	font-size: 100%;
	margin-top: 50px;
	padding: 15px 0;
	text-align: center;
}


/************************************
OFFERINGS/RATES/SPECIALS BUTTONS
************************************/


.buttons {

	color:  #80716a;
	margin-right: 5%;
	text-align: right;
}


li {
	display: inline-block;
	font-size: 1.25em;
	margin: 5px 10px;
}


/*****************************
COLORS
*****************************/


header {
	background-color: #d6cfa5;
	box-shadow: 0 0 20px #777777;
	color: #80716a;


}

.buttons-background {
	background: #bf9076;
	box-shadow: 0 0 20px #777777;
}

nav a.buttons-background, nav a:hover{
	color: white;
}

section {
	background: #7f825f;
}

footer {
	background-color: #d6cfa5;
	box-shadow: 0 0 20px #777777;
	color: #a5a283;

}

/************************************
Containers
************************************/
section {
	border: 1px solid black;

	font-family:  'Arimo', sans-serif;
	margin-top: 200px; /* for fixed header */
	clear: left;
  	float: left;
 	width: 100%;
 	background-color: #F6F4EB;
}

.columns {
	/*float: left;
  	width: 100%;
  	position: relative;
 	right: 50%;*/

}



.contentColumn {
	float: left;
  width: 45%;
  margin: 2%;
  border: 3px solid green;
}

.button {
	border-radius:15px;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: #3a8a9e;
	color: white;
	font-family: Arimo;
	font-size: 15px;
	padding: 7px 25px;
	text-decoration: none;
	/*text-shadow:0px 1px 0px #e1e2ed;*/
	box-shadow: 3px 4px 0px 0px #899599;
	text-transform: uppercase;
	background-color: #5c564c;
	margin-left: 45px;
}


.article1 {
	border: 1px solid black;


}
.benefits {
	border: 3px solid green;
	width: 95%;
	margin: 2%;
	float: left;
}

.specials {
	border: 3px solid green;
	width: 95%;
	margin: 2%;
	float: left;
}

.article2 {
	border: 1px solid black;

}
