

/*****************************
GENERAL
*****************************/

a {
	text-decoration: none;
}


/*****************************
HEADER AND FOOTER TEXT
*****************************/

header {
	background-image: url("flowers.jpg");
	font-weight: normal;
	max-height: 175px;
	left: 0px;
	margin: 0 0 20px 0;
	position: fixed;
	top: 0px;
	width: 100%;
}

#logo {
	font-family: 'Great Vibes', sans-serif;
	font-size: 200%;
	left: 0px;
	margin: 0.5%;
	padding: 0.5%;
	width: 98%;
}

.address {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 100%;
	margin: 10px;
	text-align: center;
	width: 98%;


}

.buttons-background {
	text-align: right;
}


/************************************
HEADER BUTTONS
************************************/


.buttons {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-right: 5%;
}


li {

	font-size: 1.25em;
	margin: 5px 10px;
	display: inline-block;
}



/*****************************
COLORS
*****************************/


header {
	box-shadow: 0 0 20px #777777;
	/*color: #f55f51;*/
	color: #7f825f;
}

.buttons {
	color: #7f825f;
}

.buttons-background {
	background: #f9948c;
	box-shadow: 0 0 20px #777777;
}

nav a.buttons-background, nav a:hover{
	color: #F6F4EB;
}

footer {
	background-image: url("flowers.jpg");
	/*box-shadow: 0 0 20px #777777;*/
	color: #f55f51;
}


/************************************
Containers
************************************/
section {
	/*border: 1px solid black;*/

	font-family:  'Arimo', sans-serif;
	margin-top: 200px; /* for fixed header */
	clear: left;
  	float: left;
 	width: 100%;
 	background-color: #F6F4EB;
}

.columns {
	/*float: left;
  	width: 100%;
  	position: relative;
 	right: 50%;*/

}



.contentColumn {
	float: left;
  width: 45%;
  margin: 2%;
  border: 3px solid green;
}

.button {
	border-radius:15px;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: #3a8a9e;
	color: white;
	font-family: Arimo;
	font-size: 15px;
	padding: 7px 25px;
	text-decoration: none;
	/*text-shadow:0px 1px 0px #e1e2ed;*/
	box-shadow: 3px 4px 0px 0px #899599;
	text-transform: uppercase;
	background-color: #5c564c;
	margin-left: 45px;
}


.benefits {
	/*border: 3px solid green;*/
	width: 60%;
	margin: 10px;
}

/*.specials {
	border: 3px solid green;
	width: 95%;
	margin: 2%;
	float: left;

}*/

.article2 {
	border: 1px solid black;

}


/************************************
FOOTER
************************************/



footer {
	border: 1px solid black;

	font-size: 50%;
	padding: 15px 0;
	text-align: center;
}

img.small {
	height: 3%;
	padding-top: 10px;
	width: 3%;
}
